@import '../variables.scss';

.back-button {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 1em;
  align-self: flex-start;
  margin: 0.35rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-darkest;
  color: $primary-lighter;
  height: 2em;
  width: 12em;
  border: 0.5rem solid $primary-darker;
  border-radius: 6px;
  text-decoration: none;
  transition: transform 0.25s;

  &:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.03);
  }
}
