#blightsource-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#blightsource-card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
