.festerfonts-configurations-inner-container {
  margin: 0 auto 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 750px;
}
